
<h1>New Vehicle</h1>
<form>
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.make" name="make">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select id="model" class="form-control">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="type">Vehicle Type</label>
    <select id="type" class="form-control">
      <option value=""></option>
      <option *ngFor="let t of types" value="{{ t.id }}">{{ t.name }}</option>
    </select>
  </div>
  <h3>Features</h3>
  <div class="form-group">
    <label id="engine">Engine</label>
    <input id="engine" type="text" value="" class="form-control" />
  </div>
  <div class="form-group">
    <label id="doors">No Of Doors</label>
    <input id="doors"type="text" value="" class="form-control" />
  </div>
  <div class="form-group">
    <label id="wheels">No Of Wheels</label>
    <input id="wheels" type="text" value="" class="form-control" />
  </div>

</form>
